body { margin: 0px; padding: 0px; background-color:#ffffff; font-family: arial, verdana, ms sans serif;}
input { border: #989898 1px solid; font-family: arial, verdana, ms sans serif; font-size: 11px; font-weight: normal; height: 19px } 
/* radio doesn't want a border */
.radioInput { border:none; font-family: arial, verdana, ms sans serif; font-size: 11px; font-weight: normal; height: 19px } 
select.product_select_list { font: 10px arial; color: #000000; font-weight: normal; width:270px; }
select { font: 10px arial; color: #000000; font-weight: normal; } 
.buttontext { font: 11px arial; color: #BF0F34; font-weight: bold; border-top: solid #cccccc 2px; border-left: solid #cccccc 2px; border-right: solid #68696D 2px; border-bottom: solid  #68696D 2px; background-color:#ffffff; cursor: hand; }
.seghdr1 { font: 15px arial; color: #252525; font-weight: bold; }
.seghdr2 { font: 13px arial; color: #252525; font-weight: bold; }
.segtxt { font: 11px arial; color: #000000; font-weight: normal;  height: 19px}
.segtxtbold { font: 11px arial; color: #000000; font-weight: bold;  height: 19px}
.search { background-color: #FFFFFF; border: #717171 1px solid; font-family: arial, verdana, ms sans serif; font-size: 11px; font-weight: normal; width: 130px; height: 19px } 
.login { background-color: #FFFFFF; border: #717171 1px solid; font-family: arial, verdana, ms sans serif; font-size: 11px; font-weight: normal; width: 163px; height: 19px } 
.abnfield { background-color: #FFFFFF; border: #717171 1px solid; font-family: arial, verdana, ms sans serif; font-size: 11px; font-weight: normal; width: 134px; height: 19px } 
.orgnamefield { background-color: #FFFFFF; border: #717171 1px solid; font-family: arial, verdana, ms sans serif; font-size: 11px; font-weight: normal; width: 411px; height: 19px } 
.bcafield { background-color: #FFFFFF; border: #717171 1px solid; font-family: arial, verdana, ms sans serif; font-size: 11px; font-weight: normal; width: 128px; height: 19px } 
.docnofield { background-color: #FFFFFF; border: #717171 1px solid; font-family: arial, verdana, ms sans serif; font-size: 11px; font-weight: normal; width: 188px; height: 19px } 
.chargebackfield { background-color: #FFFFFF; border: #717171 1px solid; font-family: arial, verdana, ms sans serif; font-size: 11px; font-weight: normal; width: 209px; height: 19px }
.bcainput { background-color: #FFFFFF; border: #CCCCCC 1px solid; font-family: arial, verdana, ms sans serif; font-size: 11px; font-weight: normal; height: 19px } 
.invalid { border: #0091B5 1px solid; background-color: #D6F4F6} 
/* .invalid { border: #BF0F34 1px solid; background-color: #F3BABC}*/
.namechange { font: 12px arial; color: #000000; font-weight: normal; border: #0091B5 1px solid;}
.instruct { font: 9px arial; color: #252525; font-weight: bold; font-style: italic; }
.viewmenuon { font: 9.5px arial; color: #717171; font-weight: bold; }
.welcomemsg { font: 11px arial; color: #FFFFFF; font-weight: bold; }
.welcometxt { font: 11px arial; color: #FFFFFF; font-weight: normal; }
.welcometxtactive { font: 11px arial; color: #FFFFFF; font-weight: normal; }
.welcometxtAustralMercantile { font: 11px arial; color: #FFFFFF; font-weight: normal; } 
.welcometxtsubscriber1 { font: 11px arial; color: #AB0BE6; font-weight: normal; }
.welcometxtsubscriber2 { font: 11px arial; color: #06C2CC; font-weight: normal; }
.welcometxtsubscriber3 { font: 11px arial; color: #C4480A; font-weight: normal; }
.welcometxtprimelegal { font: 11px arial; color: #FFFFFF; font-weight: normal; }
.welcometxtncml { font: 11px arial; color: #FFFFFF; font-weight: normal; }
.welcometxttraders { font: 11px arial; color: #FFFFFF; font-weight: normal; }
.welcometxtmercantile { font: 11px arial; color: #FFFFFF; font-weight: normal; }
.welcometxtSearchESS { font: 11px arial; color: #000000; font-weight: normal; }
.welcometxtInsolvencyGuardian { font: 11px arial; color: #FFFFFF; font-weight: normal; }
.welcometxtjlg { font: 11px arial; color: #FFFFFF; font-weight: normal; }
.welcometxtmarsh { font: 11px arial; color: #FFFFFF; font-weight: normal; }
.indexbody { font: 10px arial; color: #000000; font-weight: normal; }
.indexbodybig { font: 12px arial; color: #898989; font-weight: normal; }
.indexbodynum { font: 12px arial; color: #BF0F34; font-weight: normal; }
.indexbodylink {color: #0091B5; text-decoration: underline; font-family: Arial; font-weight: bold; font-size: 12px;}
.indexbodynote {font: 12px arial; color: #BF0F34; font-weight: normal; }
.indexnewsdisclaimer {font: 12px arial; color: #252525; font-weight: normal; }
.support { font: 10px arial; color: #717171; font-weight: normal; }
.txtsearch { font: 11px arial; color: #717171; font-weight: bold; }
.footerdivider { font: 11px arial; color: #717171; font-weight: normal; }
.baycorp {COLOR: #989898; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.footerdivider { font: 11px arial; color: #CCCCCC; font-weight: normal; }
.loginhdr { font: 18px arial; color: #BF0F34; font-weight: bold; }
.loginbest { font: 10px arial; color: #A9A9A9; font-weight: bold; }
.loginuser { font: 12px arial; color: #717171; font-weight: normal; }
.loginuserbld { font: 12px arial; color: #000000; font-weight: normal; }
.loginuserbldsm { font: 11px arial; color: #717171; font-weight: bold; }
.logintip { font: 10px arial; color: #000000; font-weight: normal; }
.loginforgot { font: 12px arial; color: #717171; font-weight: regular; }
.logincall {COLOR: #717171; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 12px;}
.header { font: 10px arial; color: #717171; font-weight: bold; }
.title { font: 13px arial; color: #BF0F34; font-weight: bold; }
.subheader { font: 11px arial; color: #000000; font-weight: bold; }
.resultsbody { font: 10px arial; color: #A9A9A9; font-weight: normal; }
.resultscolhdr { font: 11px arial; color: #000000; font-weight: bold; }
.resultscol { font: 11px arial; color: #000000; font-weight: normal; height: 32px; padding: 2px 2px 2px 3px;}
/* .resultscol a, .resultscol a:visited, .resultscol a:link { font: 11px arial; } */
.resultsdrop { font: 10px arial; color: #000000; font-weight: normal; }
.resultskey { font: 10px arial; color: #252525; font-weight: normal; }
.enqhdr { font: 15px arial; color: #BF0F34; font-weight: bold; }
.enqhdrsmall { font: 13px arial; color: #252525; font-weight: bold; }
.enqhdrsmall1 { font: 12px arial; color: #252525; font-weight: bold; }
.productName { font: 13px arial; color: #252525; font-weight: bold; }
.enqtxt { font: 11px arial; color: #898989; font-weight: bold; }
.enqtxtbig { font: 12px arial; color: #797979; font-weight: bold; }
.notetxt { font: 12px arial; color: #252525; font-weight: normal; }
.notetxtcc { font: 12px arial; color: #252525; font-weight: normal; border: 5px solid #FF0000;}
.notetxtbig { font: 12px arial; color: #252525; font-weight: bold; }
.orngenqtxtsm { font: 10px arial; color: #717171; font-weight: normal; }
.gryenqtxtsm { font: 10px arial; color: #68696D; font-weight: normal; }
.gryenqsub { font: 9px arial; color: #68696D; font-weight: normal; }
.enqsubhdr { font: 12px arial; color: #252525; font-weight: bold; }
.notemsgbig { font: 12px arial; color: #FF0000; font-weight: bold; }
.errorMessage:link {COLOR: #FF0000; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
.errorMessage:active{COLOR: #FF0000; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
.errorMessage:visited{COLOR: #FF0000; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
.errorMessage:hover {COLOR: #FF0000; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
a:link {COLOR: #BF0F34; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
a:active {COLOR: #BF0F34; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
a:visited {COLOR: #BF0F34; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
a:hover {COLOR: #BF0F34; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
.viewmenu:link {COLOR: #252525; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 9.5px;}
.viewmenu:active {COLOR: #252525; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 9.5px;}
.viewmenu:visited {COLOR: #252525; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 9.5px;}
.viewmenu:hover {COLOR: #717171; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 9.5px;}
.menu:link {COLOR: #000000; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 11px;}
.menu:active {COLOR: #717171; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 11px;}
.menu:visited {COLOR: #000000; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 11px;}
.menu:hover {COLOR: #252525; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 11px;}
.arrow:link {COLOR: #717171; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.arrow:active {COLOR: #717171; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.arrow:visited {COLOR: #717171; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.arrow:hover {COLOR: #717171; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.footer:link {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.footer:active {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.footer:visited {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.footer:hover {COLOR: #0091B5; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
.topmenu:link {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 10px;}
.topmenu:active {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 10px;}
.topmenu:visited {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 10px;}
.topmenu:hover {COLOR: #0091B5; text-decoration: underline; font-family: Arial; font-weight: bold; font-size: 10px;}
.topmenuon:link {COLOR: #717171; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.topmenuon:active {COLOR: #717171; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.topmenuon:visited {COLOR: #717171; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.topmenuon:hover {COLOR: #717171; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 10px;}
.loginhelp:link {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: regular; font-size: 12px;}
.loginhelp:active {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: regular; font-size: 12px;}
.loginhelp:visited {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: regular; font-size: 12px;}
.loginhelp:hover {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: regular; font-size: 12px;}
.company:link {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 11px;}
.company:active {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 11px;}
.company:visited {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 11px;}
.company:hover {COLOR: #0091B5; text-decoration: none; font-family: Arial; font-weight: normal; font-size: 11px;}
.logout:link {COLOR: #FFFFFF; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
.logout:active {COLOR: #FFFFFF; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
.lgoout:visited {COLOR: #FFFFFF; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
.logout:hover {COLOR: #FFFFFF; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px;}
.reportLink:link {COLOR: #0091BF; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px; }
.reportLink:active {COLOR: #0091BF; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px; }
.reportLink:visited {COLOR: #0091BF; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px; }
.reportLink:hover {COLOR: #0091BF; text-decoration: underline; font-family: Arial; font-weight: normal; font-size: 10px; }
.tree { display : none ; COLOR: #000000; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 11px; }
.summaryfieldtxt {font: 11px arial; color: #252525; font-weight: normal;}
.summaryfieldhdr {font: 11px arial; color: #252525; font-weight: normal; }
.summarysubhdr { font: 13px arial; color: #BF0F34; font-weight: bold; }
.summaryAMShdr { font: 11px arial; color: #BF0F34; font-weight: bold; }
.show { }
.hide { display: none }
.orngbreadcrumb { font: 11px arial; color: #898989; font-weight: normal; text-decoration:none }
.orngbreadcrumb:link { font: 11px arial; color: #898989; font-weight: normal; text-decoration:none }
.orngbreadcrumb:active { font: 11px arial; color: #898989; font-weight: normal; text-decoration:none }
.orngbreadcrumb:visited { font: 11px arial; color: #898989; font-weight: normal; text-decoration:none  }
.orngbreadcrumb:hover{ font: 11px arial; color: #898989; font-weight: normal; text-decoration:underline  }
.redbreadcrumb { font: 11px arial; color: #898989; font-weight: normal; text-decoration:none }
.redbreadcrumb:link { font: 11px arial; color: #898989; font-weight: normal; text-decoration:none }
.redbreadcrumb:active{ font: 11px arial; color: #898989; font-weight: normal; text-decoration:none }
.redbreadcrumb:visited{ font: 11px arial; color: #898989; font-weight: normal; text-decoration:none  }
.redbreadcrumb:hover{ font: 11px arial; color: #898989; font-weight: normal; text-decoration:underline  }
.redsubmit { display: inline-block; outline: none; cursor: pointer; text-align: center; text-decoration: none; padding: .2em 1.5em; border:none; -webkit-box-shadow: 0px 2px 1px #808080; -moz-box-shadow:0px 2px 1px #808080; box-shadow:0px 2px 1px #808080; box-shadow: 0 0 2px #888; margin: 0; color: #fff; background:#af1f25; background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.43, #A01014),color-stop(0.72, #BD2D32)); background-image: -moz-linear-gradient(center bottom,#A01014 43%,#BD2D32 72%); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A01014', endColorstr='#BD2D32'); font-size: 11px; font-weight: bold; font-family: arial; position: relative; overflow: visible; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
a.redsubmit { display: inline-block; outline: none; cursor: pointer; text-align: center; text-decoration: none; padding: 3px 19px 2.5px; border:none; -webkit-box-shadow: 0px 2px 1px #808080; -moz-box-shadow:0px 2px 1px #808080; box-shadow:0px 2px 1px #808080; box-shadow: 0 0 2px #888; margin: 0; color: #fff; background:#af1f25; background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.43, #A01014),color-stop(0.72, #BD2D32)); background-image: -moz-linear-gradient(center bottom,#A01014 43%,#BD2D32 72%); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A01014', endColorstr='#BD2D32'); font-size: 11px; font-weight: bold; font-family: arial; position: relative; overflow: visible; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; height: 14px; top: 0px;}
a.redsubmit:hover {text-decoration: none; color: #fff; font-size: 11px; font-weight: bold; font-family: arial; }
a.redsubmit:visited {text-decoration: none; color: #fff; font-size: 11px; font-weight: bold; font-family: arial; }
.columnTotal { background-color:#ffffff; font:10px arial; color: #BF0F34; font-weight:bold}
.columnGrandTotal { background-color:#ffffff; font:11px arial; color: #BF0F34; font-weight:bold}
.tableRow { background-color:#E1E1E1; }
.tableRowAlt { background-color:#FFFFFF; }
.tableRowAlt2 { background-color:#CCCCCC; }
/*.tableNews {border-top: 1px solid black; border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;}*/
.tableNews {font:14px arial; color: #000000; font-weight: normal;  }
.changeInfo {font:13px arial; color: #BF0F34; font-weight: bold;  }
.sideInfoTable { border: 1px solid #959595 }
.sideInfoTable thead { background-color:#D7D7D7; font:12px arial; color: #BF0F34; font-weight:bold;}
.sideInfoTable tbody { background-color:#FFFFFF; font:9px arial; color: #252525; font-weight:bold}
.sideInfoTable tfoot{ background-color:#ffffff; font:9px arial; color: #252525; font-weight:bold; font-style: italic; }
.notFound{ font: 15px arial; color: #FF0000; font-weight: bold; }
.chrome { } /* chrome is all the stuff around the content, menu etc */
pre { font-size:12px;color:#000000 } 
.gryenqsub5 { font: 5px arial; color: #68696D; font-weight: normal; }
.genericMessage { font: 15px arial; font-weight:bold; color:#FF0000; }
.bannerMessageTable { background-color:#CCCCCC; font:11px arial; color: #FF0000; font-weight: normal; }
.footnote { font: 11px arial; color: #252525; font-weight: normal; }
.report_desc_area { cursor: pointer; }
.report_order_area { cursor: pointer; }
.vedacheckbody { width: 575px; position: relative; padding: 8px 0; }
.vedacheckbody img { border: none; width: 80px; eight: 50px; float: left; margin: 0 10px 10px 0; }
.vedacheckbody h1, .vedacheckbody  { font-family: Arial, Helvetica, sans-serif; font-size: 17px; text-transform: none; text-align:left; font-weight: 600; color: #E01B22; text-decoration: none; margin: 0 0 10px 0; }
.vedacheckbody h2, .vedacheckbody  { font-family: Arial, Helvetica, sans-serif; font-size: 15px; text-transform: none; text-align:left; font-weight: 400; color: #E01B22; text-decoration: none; margin: 0 0 5px 0; }
.vedacheckbody h3, .vedacheckbody  { font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-transform: none; text-align:left; font-weight: 600; color: #000000; text-decoration: none; margin: 0 0 3px 0; }
.vedacheckbody h4, .vedacheckbody a { font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-transform: uppercase; text-align:left; font-weight: 500; color: #489CB8; text-decoration: none; margin: 0 0 3px 0; }
.vedacheckbody h5, .vedacheckbody  { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-transform: none; text-align:left; font-weight: 400; color: #0088CC; text-decoration: none; margin: 0 0 0 0; }
.vedacheckbody p, .vedacheckbody  { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-transform: none; text-align:left; font-weight: 400; color: #333333; text-decoration: none; margin: 0 0 3px 0; }
		  .vedacheckbody a:hover {text-decoration: underline; }
.vedacheckfooter { width: 880px; position: relative; padding: 8px 0; }
.vedacheckfooter p, .vedacheckfooter  { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-transform: none; text-align:center; font-weight: 400; color: #333333; text-decoration: none; margin: 0 0 3px 0; }
.vedacheckfooter h5, .vedacheckfooter a  { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-transform: none; text-align:left; font-weight: 400; color: #0088CC; text-decoration: none; margin: 0 0 0 0; }
.vedacheckfooter a:hover {text-decoration: underline; }

/* \\\\\ ORG ID SEARCH DISCLAIMERS ///// */
.imagetoleftpossiblematches, .imagetoleftasicinfo, .imagetoleftbusinessnmeextract { display: inline-block; position: relative; left: -22px; top: 1px; }
.org_notes_section { width:96%; margin-left: 23px; }
.org_note_header { left: -16px; color: #000; position: relative; }
.org_notes_info { padding: 5px 0 10px; }

/* \\\\\ NEW ///// */
.container { width: 640px; }
.row { *zoom: 1; }
.row:before,.row:after { display: table; content: ""; }
.row:after { clear: both; }
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 { float: left; margin: 0 5px 10px 5px; }
.span1 { width:42px; }
.span2 { width:95px; }
.span3 { width:147px; }
.span4 { width:200px; }
.span5 { width:252px; }
.span6 { width:305px; }
.span7 { width:357px; }
.span8 { width:410px; }
.span9 { width:462px; }
.span10 { width:515px; }
.span11 { width:567px; }
.span12 { width:620px; }
/* \\\\\ TYPOGRAPHY ///// */
.container a, .container a:link, .container a:visited, .container a:active { color: #489CB8 !important; text-decoration: none !important; font-size: 12px; }
.container a:hover { color: #005580 !important; text-decoration: underline !important; }
.announcements h2 a, .announcements h2 a:link, .announcements h2 a:hover, .announcements h2 a:visited, .announcements h2 a:link, .announcements h2 a:active { text-transform: capitalize; font-size: 13px; font-weight: 800; }
p { margin: 0 0 16px 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 400; line-height: 16px; }
.container p { margin: 0 0 16px 0 !important; }
li { margin: 0 0 6px 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 400; line-height: 16px; }
p small { font-size: 11px; color: #999999; }
.lead { margin-bottom: 18px; font-size: 20px; font-weight: 200; line-height: 27px; }
h1,h2,h3,h4,h5,h6 { margin: 0; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: inherit; text-rendering: optimizelegibility; }
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small { font-weight: normal; color: #999999; }
h1 { font-size: 17px; line-height: 30px; text-align:left; font-weight: 600; color: #E01B22 !important; text-decoration: none; margin: 0 0 10px 0; }
h2 { font-size: 14px; line-height: 20px; }
h3 { font-size: 12px; line-height: 18px; }
h4,h5,h6 { line-height: 14px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 11px; color: #999999; text-transform: uppercase; }
/* \\\\\ LISTS ///// */
ul,ol { padding: 0; margin: 0 0 9px 25px; }
ul ul,ul ol,ol ol,ol ul { margin-bottom: 0; }
ul { list-style: disc; }
ol { list-style: decimal; }
li { line-height: 14px; }
ul.unstyled,ol.unstyled { margin-left: 0; list-style: none; }
dl { margin-bottom: 18px; }
dt,dd { line-height: 18px; }
dt { font-weight: bold; line-height: 17px; }
dd { margin-left: 9px; }
hr { margin: 18px 0; border: 0; border-top: 1px solid #eeeeee; border-bottom: 1px solid #ffffff; }
strong { font-weight: bold; }
em { font-style: italic; }
small { font-size: 100%; }
/* \\\\\ TABLES ///// */
.fable { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0; }
.fable th,.fable td { padding: 8px; line-height: 14px; text-align: left; vertical-align: top; border-top: 1px solid #dddddd; }
.fable th { font-weight: bold; }
.fable thead th { vertical-align: bottom; }
.fable caption + thead tr:first-child th,.fable caption + thead tr:first-child td,.fable colgroup + thead tr:first-child th,.fable colgroup + thead tr:first-child td,.fable thead:first-child tr:first-child th,.fable thead:first-child tr:first-child td { border-top: 0; }
.fable tbody + tbody { border-top: 2px solid #dddddd; }
.fable-condensed th,.fable-condensed td { padding: 4px 5px; }
.fable-bordered { border: 1px solid #dddddd; border-collapse: separate; *border-collapse: collapsed; border-left: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.fable-bordered th,.fable-bordered td { border-left: 1px solid #dddddd; }
.fable-bordered caption + thead tr:first-child th,.fable-bordered caption + tbody tr:first-child th,.fable-bordered caption + tbody tr:first-child td,.fable-bordered colgroup + thead tr:first-child th,.fable-bordered colgroup + tbody tr:first-child th,.fable-bordered colgroup + tbody tr:first-child td,.fable-bordered thead:first-child tr:first-child th,.fable-bordered tbody:first-child tr:first-child th,.fable-bordered tbody:first-child tr:first-child td { border-top: 0; }
.fable-bordered thead:first-child tr:first-child th:first-child,.fable-bordered tbody:first-child tr:first-child td:first-child { -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; }
.fable-bordered thead:first-child tr:first-child th:last-child,.fable-bordered tbody:first-child tr:first-child td:last-child { -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-topright: 4px; }
.fable-bordered thead:last-child tr:last-child th:first-child,.fable-bordered tbody:last-child tr:last-child td:first-child { -webkit-border-radius: 0 0 0 4px; -moz-border-radius: 0 0 0 4px; border-radius: 0 0 0 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; }
.fable-bordered thead:last-child tr:last-child th:last-child,.fable-bordered tbody:last-child tr:last-child td:last-child { -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; }
.fable-striped tbody tr:nth-child(odd) td,.fable-striped tbody tr:nth-child(odd) th { background-color: #f9f9f9; }
.fable tbody tr:hover td,.fable tbody tr:hover th { background-color: #f5f5f5; }
/* \\\\\ LOGIN STYLES ///// */
.credentials-holder { width: 470px; margin: 0 auto; border: 4px solid #f2f2f2; }
.credentials-holder-subscriber-logoutfooter { width: 470px; margin: 0 auto; }
.credentials-holder p { font-size: 12px; margin: 8px 0; }
.credentials-holder a, .credentials-holder a:link, .credentials-footer a, .credentials-footer a:link { color: #489CB8 !important; text-decoration: none !important; font-size: 11px; }
.credentials-holder a:hover, .credentials-footer a:hover { color: #005580 !important; text-decoration: underline !important; font-size: 11px; }
.credentials-inner { background-color: #f2f2f2; width: 370px; height: auto; padding: 20px; margin: 0 auto 30px auto; }
.credentials-inner input { font-size: 12px; line-height: 16px; padding: 3px 0 0 3px; margin: 0 0 8px 0; width: 370px; height: 25px;}
.credentials-inner input.redsubmit { width: 80px; margin-top: 4px; padding: 3px; height: 25px;}
.credentials-footer { width: 590px; margin: 20px auto; }
.alert { width: 370px; padding: 20px; margin: 12px auto; color: #c09853; background-color: #fcf8e3; border: 1px solid #fbeed5; }
.alert-heading { color: inherit; }
.alert-error { color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }
.alert-success { color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }
/* \\\\\ MODULES ///// */
.centralise { margin: 0 auto; }
.pull-right { float: right; }
.pull-left { float: left; }
.t-center { text-align: center; }
.t-left { text-align: left; }
.t-right { text-align: right; }
.asblock { display: block; }
.asinline { display: inline; }
.border-radius { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.videothumb { width: 132px; height: auto; margin: 0 16px 16px 0; float: left; }
.seventy-by-seventy { margin: 4px 10px 4px 0; float: left; }
.tabulated { background-color: #f9f9f9; }
.all-padding { padding: 5px 10px; }
.upp { text-transform: uppercase; }
.low { text-transform: lowercase; }
.cap { text-transform: capitalize; }
.overlay { background-color: #000; filter: alpha(opacity=10); /*older IE*/ filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10); /* IE */ -moz-opacity: .10; /*older Mozilla*/ -khtml-opacity: 0.5;   /*older Safari*/ 	opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/ position: absolute; top: 0; left: 0; height:4000px;z-index: 100; width:100%; }
.hideOverlay { display: none; }
.showOverlay { display: block; }
/* \\\\\ BULK PURCHASE ///// */
#g-search-button {display: inline-block; width: 24px; height: 24px; position: relative; left: 30px; top: -43px; background:transparent url('/webc-webapp/src/main/webapp/stylesheet/icon-search.png') center  no-repeat;}
.searchText{ font-family: Arial; font-size: 12; height:70px; width:290px; padding-left: 29px; border:1px solid #000000; overflow:auto; wrap:true;}
.searchHeading{background-color: #B20000;color: white;text-align:center;font-family: Arial;font-weight: bold;    font-size: 12;    border: 1px solid #cccccc;}
.clientRefTable{   font-family: Arial;    font-size: 12;    width:600px;    text-align:center;}
.resultsTitle{      font-family: Arial;     font-size: 12;      font-weight:bold;      }
.searchtblclass{padding-left:23px;}
.normalRow{font-family: Arial;    font-size: 10;    border: 1px solid #cccccc;}
.searchTable{font-family: Arial;    font-size: 10;border: 1px solid #cccccc;padding-left:23px;}
.errMessage{COLOR: #CC0052;  font-family: Arial; font-size: 10px;border: 1px solid #cccccc;}
.evenColor{background-color: #f5f5f5;font-family: Arial;    font-size: 10;    border: 1px solid #cccccc;}
.evenSearchColor{background-color: #f5f5f5;font-family: Arial;    font-size: 10;    border: 1px solid #cccccc;}
.errorColor{COLOR: #CC0052;background-color: #FFCCCC;font-family: Arial;    font-size: 10px;    border: 1px solid #cccccc;}
.productTable{font-family:"Arial";font-size:10;padding-left:23px;}
.purchaseMessage{border: solid 0 #A00; border-width:2px; padding:10px 10px 10px 15px;}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 50%; }
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 120px; height: 15px; font-size: 12px; text-align: center; border: black 1px solid; background-color: #F0F0F0; }
html>body #sortable li { height: 1.5em; line-height: 1.2em; }
#sortable li:hover { cursor: move; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
.iconInput { height: 17px; width:17px;}

.helpButton { margin-right: 85px\9; -moz-margin-end:170px; }



/* ------ VEDACHECK NEW UI ------ TOP MENU ------------------------------------------------------------------------------------------  */

@import url(fonts.googleapis.com/webc-webapp/src/main/webapp/stylesheet/css?family=Titillium+Web:700,600,400,300);
.top_menu_box { display: block; width: 1130px; height: 110px; background: url("../images/vedacheck2/top_menu_bg.png") repeat-x scroll bottom left #e01b22; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.top_nav_bar { display: block; width: 1130px; height: 36px; }
.top_nav_bar div { display: inline-block; }
.top_nav_right { float: right; margin-right: 0px; height: 36px; background: #b71218; text-align: right; position: relative; }

ul.menu_list_horiz { margin: 0; padding: 5px 5px 0 10px; list-style: none; text-align: left; }
ul.top_right_menu { height: 36px; text-align: right; }
li.menu_item { display: inline; padding: 12px 5px 0; margin: 0; }
li.menu_divider { display: inline; padding: 6px 0; margin-top: 0px; height: 25px; background: url("../images/vedacheck2/icons/divider_vertical.png") no-repeat scroll center center; }
a.menu_item_link, a.menu_item_link:hover, a.menu_item_link:link, a.menu_item_link:visited { display: inline-block; height: auto !important; text-decoration: none; padding: 6px 5px 10px 5px; color: #fff; font-size: 14px; font-weight: 400; font-family: 'Arial', sans-serif; }
div.menu_item_link { padding: 0; margin: 0; color: #fff; font-size: 14px; font-weight: 400; font-family: 'Arial', sans-serif; }
li.system_selected { background: url("../images/vedacheck2/icons/arrow_white_down.png") no-repeat scroll top center; }
a.system_unselected, a.system_unselected:link, a.system_unselected:visited { color: f3bbbc; }
a.system_unselected:hover { color: #fff; }
a.menu_item_bold, a.menu_item_bold:link, a.menu_item_bold:visited, a.menu_item_bold:hover { font-weight: 700; font-size: 15px; }
a.menu_item_semibold, a.menu_item_semibold:link, a.menu_item_semibold:visited, a.menu_item_semibold:hover { font-weight: 600; font-size: 14px; }

.bottom_nav_bar { display: block; width: 1130px; }
.bottom_nav_bar div { display: inline-block; }
div.company_logo { width: 210px; height: 74px; background: url("/webc-webapp/src/main/webapp/stylesheet/veda_logo_vc_main_new.png") no-repeat scroll bottom left; }
div.irs_logo { width: 180px; height: 74px; background: url("../images/vedacheck2/irs_logo_vc_main.png") no-repeat scroll bottom left; }
ul.feature_icon_list_horiz { margin: 0 0 0 15px; padding: 0 5px 0 10px; list-style: none; text-align: left; left:0; }
li.feature_item { display: inline-block; padding: 0 5px; height: 63px; width: 98px; position: relative; text-align: center; white-space: nowrap; }
a.feature_icon, a.feature_icon:hover, a.feature_icon:visited, a.feature_icon:link { background: transparent no-repeat scroll top 12px center; padding: 0 5px; display: block; height:62px; text-align: ceter; color: #fff; text-decoration: none; }
a.feature_icon span, a.feature_icon:hover span, a.feature_icon:visited span, a.feature_icon:link span { position: relative; top: 43px; text-align: center; text-decoration: none; font-size: 12px; font-weight: 600; font-family: 'Arial', sans-serif; }
a.feature_icon:hover span { color: #33cccc; }

a.home_icon, a.home_icon:visited, a.home_icon:link { background-image: url("../images/vedacheck2/icons/home_icon.png"); }
a.prev_enq_icon, a.prev_enq_icon:visited, a.prev_enq_icon:link { background-image: url("../images/vedacheck2/icons/prev_icon.png"); }
a.next_enq_icon, a.next_enq_icon:visited, a.next_enq_icon:link { background-image: url("../images/vedacheck2/icons/next_icon.png"); }
a.news_icon, a.news_icon:visited, a.news_icon:link { background-image: url("../images/vedacheck2/icons/news_icon.png"); }
a.help_icon, a.help_icon:visited, a.help_icon:link { background-image: url("../images/vedacheck2/icons/question_icon.png"); }

a.home_icon:hover { background-image: url("../images/vedacheck2/icons/home_icon_blue.png"); }
a.prev_enq_icon:hover { background-image: url("../images/vedacheck2/icons/prev_icon_blue.png"); }
a.next_enq_icon:hover { background-image: url("../images/vedacheck2/icons/next_icon_blue.png"); }
a.news_icon:hover { background-image: url("../images/vedacheck2/icons/news_icon_blue.png"); }
a.help_icon:hover { background-image: url("../images/vedacheck2/icons/question_icon_blue.png"); 

td#colMenu { padding: 0 10px 0 0; }

/* ------ VEDACHECK NEW UI ------ NAVIGATION SIDE BAR ------------------------------------------------------------------------------------------  */

#wwCats { }
#plCats { display: none; }

#product_menu_box { margin: 17px 5px 30px 10px; }

.prod_menu_table { width: 200px; }
.prod_menu_table tr { background-color: #fefdfa; }
.prod_menu_table tr td { border-bottom: solid 1px #CCC; border-left: solid 1px #CCC; border-right: solid 1px #ccc; padding: 0; margin: 0; }
.prod_menu_table tr th { margin: 0; padding: 0;}
.prod_menu_table a.menu, .prod_menu_table a.menu:hover, .prod_menu_table a.menu:visited, .prod_menu_table a.menu:link { font-size: 13px; font-weight: 400; font-family: 'Arial', sans-serif; color: #222; display: block; padding: 4px 0 4px 8px; margin:0; cursor: pointer; cursor: hand; }
.prod_menu_table a.product_group { background: url("../images/vedacheck2/icons/product_red_arrow.png") no-repeat scroll 182px center rgba(0, 0, 0, 0); }

.prod_menu_table tr:hover, .prod_menu_table a.menu_hover, .prod_menu_table a.menu:hover { background-color: #e01b22; color: #fff; }
.prod_menu_table tr:hover td a.product_group, .prod_menu_table a.prod_group_hover, .prod_menu_table a.selected_group, .prod_menu_table a.selected_group:link, .prod_menu_table a.selected_group:visited { background: #e01b22 url("../images/vedacheck2/icons/product_white_arrow.png") no-repeat scroll 182px center ; color: #fff; }
div.product_sub_menu { background-color: #e4e4e4; z-index:400; position:absolute; display: none; border-top: solid 1px #CCC; }
a.sub_menu, a.sub_menu:hover, a.sub_menu:visited, a.sub_menu:link, .prod_menu_table a.sub_menu, .prod_menu_table a.sub_menu:hover, .prod_menu_table a.sub_menu:visited, .prod_menu_table a.sub_menu:link { display: block; font-size: 13px; font-weight: 400; font-family: 'Arial', sans-serif; color: #222; border: solid 1px #CCC; border-top: none; padding: 4px 8px; margin: 0; text-decoration: none; cursor: pointer; cursor: hand; white-space: nowrap; min-width: 200px; }
a.sub_menu:hover, .prod_menu_table a.sub_menu:hover { background-color: #e01b22; color: #fff; }

a.viewmenu, a.viewmenu:link, a.viewmenu:visited, a.viewmenu:hover { display: block; padding: 8px 0 8px; margin: 0; font-size: 13px; font-family: 'Arial', sans-serif; font-weight: 400; color: #555; border: solid 1px #CCC; background-color: #fefdfa; text-align: center; vertical-align: top; }

a#wwLink { width: 110px; }
a#prodLink { width: 86px; }
a.selected_view, a.selected_view:link, a.selected_view:visited, a.selected_view:hover, a.selected_view:active { border-bottom: solid 1px #fefdfa; font-weight: 600; font-size: 13px; }
a.unselected_view, a.unselected_view:link, a.unselected_view:visited, a.unselected_view:hover, a.unselected_view:active { }
a#wwLink.unselected_view { border-right: solid 1px #fefdfa; }
a#prodLink.unselected_view { border-left: solid 1px #fefdfa; }


/* ------ VEDACHECK NEW UI ------ FOOTER ------------------------------------------------------------------------------------------  */

div#footer { display: block; width: 1130px; font-family: 'Arial'; color: #fff; margin-top: 150px; }
div#footer_headliner { display: block; width: 1130px; background-color: #d61a21; height: 5px; padding: 0; margin: 0; font-size: 2px; }
div#footer_content { display: block; background-color: #3d3d3d; padding: 7px 0 0; }
div#footer_nav { padding: 5px 25px 4px; font-size: 12px; color: #fff; }
div#footer_nav span { padding: 6px 25px; }
div#footer_disclaimer { padding: 6px 50px 0; }
div#footer a, div#footer a:visited, div#footer a:link { font-size: 12px; color: #fff; font-weight: bold; }
div#footer_disclaimer { font-size: 12px; }


/* ------ VEDACHECK NEW UI ------ ANNOUNCEMENTS ------------------------------------------------------------------------------------------  */

div.news_box { display: block; border: solid 1px #CCC; margin: 15px 0 15px; padding: 0; border-radius: 3px; box-shadow: 0 0 30px 2px #eee; font-size: 13px; letter-spacing: 0.3px; line-height: 17px; }
div.news_item { margin-bottom: 15px; padding: 0 15px; }
div.box_header { display: block; padding: 10px 15px 15px; }
a.box_header_text, a.box_header_text:link, a.box_header_text:hover, a.box_header_text:visited { color: #555; font-size: 17px; font-weight: bold; text-decoration: none; }
a.box_header_text:hover { text-decoration: underline; }
div.news_header { padding: 3px 0 5px; }
a.news_header_text, a.news_header_text:link, a.news_header_text:hover, a.news_header_text:visited { color: #555; font-size: 14px; font-weight: bold; text-decoration: none; }
a.news_header_text:hover { text-decoration: underline; }
div.news_content { font-size: 13px; }
a.more_info, a.more_info:link, a.more_info:hover, a.more_info:visited { font-size: 12px; line-height: 17px; vertical-align: bottom; text-decoration: none; }
div.news_box_footer { display: block; width: 100%; background-color: #3d3d3d; border-radius: 3px; }
a.news_footer_text, a.news_footer_text:link, a.news_footer_text:hover, a.news_footer_text:visited { display: block; position: relative; right: 0px; padding: 7px 15px 5px 0; color: #fff; font-weight: bold; text-decoration: none; font-size: 13px; text-align: right; }
a.release_item, a.release_item:link, a.release_item:hover, a.release_item:visited { font-size: 13px; color: #000; text-decoration: none; line-height: 20px; vertical-align: bottom; display: block; margin-top: 5px; }


/* ------ VEDACHECK NEW UI ------ PROMOTION AREA ------------------------------------------------------------------------------------------  */

div#promo_help_area { display: block; margin-left: 6px; }
div#help_box { display: block; margin-bottom: 22px; }
div#promo_box { display: block; }
div.help_banner { display: block; margin-bottom: 12px; }
div.promo_banner { display: block; margin-bottom: 12px; }
div#promo_deader { display: block; color: #656565; font-family: 'Arial', sans-serif; font-size: 13px; font-weight: bold; margin-bottom: 10px; }
a.support_link, a.support_link:link, a.support_link:hover, a.support_link:visited { border: none; color: #fff; display: block; border-radius: 3px; box-shadow: 0 0 30px 2px #eee; text-decoration: none; }
a.promo_img_link, a.promo_img_link:link, a.promo_img_link:hover, a.promo_img_link:visited { border: none; color: #fff; display: block; border-radius: 3px; box-shadow: 0 0 30px 2px #eee; text-decoration: none; }
a.promo_img_link img, a.support_link img { border: none; }
