html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
}
body {
   margin: 0;
   padding: 0;
   color: #333;
   font-size: 1em;
   font-family: DroidSansRegular, helvetica, arial, sans-serif;
   position: relative;
   min-width: 320px;
}
html, button, input, select, textarea {
   font-family: sans-serif;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

img {
   border: 0;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
}
@font-face {
   font-family: 'DroidSansRegular';
   src: url("DroidSans-webfont.eot");
   src: url("DroidSans-webfont.eot?#iefix") format("embedded-opentype"),url("DroidSans-webfont.woff") format("woff"),url("DroidSans-webfont.ttf") format("truetype"),url("DroidSans-webfont.svg#DroidSansRegular") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'DroidSansBold';
   src: url("DroidSans-Bold-webfont.eot");
   src: url("DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),url("DroidSans-Bold-webfont.woff") format("woff"),url("DroidSans-Bold-webfont.ttf") format("truetype"),url("DroidSans-Bold-webfont.svg#DroidSansBold") format("svg");
   font-weight: normal;
   font-style: normal;
}
a, a:link {
   color: #069;
}
a:visited {
   color: #069;
}
a:hover, a:focus, a:active {
   background-color: #00ff00;
   outline: none;
   color: white;
   text-decoration: none;
}
p {
   line-height: 1.4em;
}
h1 {
   color: black;
   font-size: 220%;
   font-family: DroidSansBold,helvetica,arial,sans-serif;
   margin: 1em 0;
   text-transform: none;
}
body.home h1 {
   text-indent: -9999px;
   position: absolute;
}
h2, h3, h4 {
   clear: both;
   font-size: 150%;
   margin: 1.25em 0 0.75em 0;
}
h3, h4 {
   font-size: 130%;
   margin: 0.75em 0 0.5em 0;
}
h4 {
   font-size: 110%;
}
#content li {
   padding: 0.2em 0;
   line-height: 1.4em;
}
.list-alpha-upper li {
   list-style-type: upper-alpha !important;
}
.list-alpha li {
   list-style-type: lower-alpha !important;
}
.list-roman-upper li {
   list-style-type: upper-roman !important;
}
.list-roman li {
   list-style-type: lower-roman !important;
}
table {
   margin: 1em 0 2em 0;
}
caption {
   background-color: #ddd;
   color: black;
   line-height: 1.5em;
   font-size: 110%;
   font-family: DroidSansBold, helvetica, arial, sans-serif;
   padding: 0.75em 0 0.75em 0.5em;
   margin-bottom: 0.25em;
   text-align: left;
}
th, td {
   border-bottom: 1px solid #dddddd;
   font-size: 90%;
   text-align: left;
   padding: 0.75em 0.5em;
   vertical-align: top;
}
td {
   color: #666;
   padding: 0.6em 0.5em;
}
td span.cancelled {
   background: transparent url(../images/sprite-status.png) no-repeat 0 -93px;
   font-size: 90%;
   color: #666666;
   padding-left: 16px;
   line-height: 1.8em;
}
td span.active {
   background: transparent url(../images/sprite-status.png) no-repeat 0 0;
   font-size: 90%;
   color: #0C7A1F;
   padding-left: 16px;
}
td ul {
   margin-top: -0.25em;
}
input[type=text]:hover, input[type=text]:focus, input[type=text]:active, select:hover, select:focus, select:active, textarea:hover, textarea:focus, textarea:active {
   background-color: #fffe9b;
   -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
   box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
}
input, select, textarea {
   font-size: 1em;
   font-family: DroidSansRegular, helvetica, arial, sans-serif;
   border: 1px solid #BBBBBB !important;
   line-height: 1;
   padding: 0.5em 0.3em;
}
input[type=text] {
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #666666;
}
select {
   -webkit-border-radius: 4px;
   border-radius: 4px;
   padding: 0.35em 0.3em;
}
button, input {
   line-height: normal;
}
button, input, select, textarea {
   margin: 0;
   vertical-align: baseline;
}
input[type="submit"] {
   background: #fc0 url(../images/sprite-search-small.png) no-repeat 50% 50%;
   border: 0 !important;
   border-radius: 4px;
   box-shadow: none !important;
   color: #FFFFFF !important;
   cursor: pointer;
   display: inline-block;
   height: 44px;
   line-height: 1.2em;
   margin: 0.6em 0 0 0.25em;
   padding: 0.5em 1.5em;
   text-indent: -9999px;
   vertical-align: top;
   -webkit-border-radius: 4px;
   width: 44px;
}
input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
   background: #f90 url(../images/sprite-search-small.png) no-repeat 50% 50%;
   -webkit-transition: background-color 0.1s ease-in-out;
   -moz-transition: background-color 0.1s ease-in-out;
   -ms-transition: background-color 0.1s ease-in-out;
   -o-transition: background-color 0.1s ease-in-out;
   transition: background-color 0.1s ease-in-out;
}
@media only screen and (min-width: 660px) {
   input[type="submit"] {
      background: #fc0 url(../images/sprite-search-large.png) no-repeat 50% 50%;
      border-radius: 6px;
      height: 74px;
      width: 74px;
      margin: 0.9em 0 0 0.5em;
   }
   input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
      background: #f90 url(../images/sprite-search-large.png) no-repeat 50% 50%;
   }
}
input[type="submit"].button-submit {
   background: none;
   background-color: #333;
   display: inline-block;
   height: auto;
   padding: 0.75em 1.5em;
   margin: 0.7em 0 0 0;
   text-indent: 0;
   width: auto;
}
input[type="submit"].cancel {
   background-color: #555;
}
input[type="submit"].button-submit:hover, input[type="submit"].button-submit:focus, input[type="submit"].button-submit:active {
   background: none;
   background-color: #f90;
   color: #000 !important;
   -webkit-transition: background-color 0.1s ease-in-out;
   -moz-transition: background-color 0.1s ease-in-out;
   -ms-transition: background-color 0.1s ease-in-out;
   -o-transition: background-color 0.1s ease-in-out;
   transition: background-color 0.1s ease-in-out;
}
input[type="submit"].button-submit-small {
   font-size: 90%;
   padding: 0.7em 0.75em;
   margin: 0 0 0 0;
}
input[type=checkbox], input[type=radio], fieldset, legend {
   border: none !important;
}
fieldset, legend {
   margin: 0;
   padding: 0;
}
fieldset {
   margin: 0 0 1em 0;
}
legend {
   clear: both;
   font-size: 130%;
   margin: 0.5em 0 0.5em 0;
}
.form-row {
   clear: both;
   margin: 0.6em 0 0.6em 1em;
}
.form-row-indent {
   margin: -5px 0 0 2em;
}
.form-row-indent input[type="checkbox"] {
   margin-left: 0.75em;
}
.form-row-indent input[type="checkbox"]:first-child {
   margin-left: 0;
}
.form-row input[type=text], .form-row input[type=select], .form-row textarea {
   width: 95%;
}
@media only screen and (min-width: 660px) {
   .form-row input[type=text], .form-row input[type=select], .form-row textarea {
      width: 60%;
   }
}
.contact-form .form-row {
   margin: 0.6em 0 1.25em 0;
}
.contact-form .form-row label {
   margin: 0 0.25em 5px 0 !important;
   display: inline-block;
}
.postcode {
   width: 80px !important;
}
.form-columns label {
   float: left;
   width: 250px;
}
.form-columns input {
   margin-left: 10px;
}
.required {
   font-weight: normal;
   font-size: 90%;
   color: #444;
}
.validator-on {
   font-size: 90%;
   font-weight: bold;
}
.process-message {
   border-radius: 4px;
   padding: 0 1em 0.75em 1em;
   background-color: #ddd;
   border: 1px solid #999;
   margin: 0 0 1em 0;
}
.process-message p, .process-message ul {
   clear: both;
   margin-left: 1.25em;
}
.process-message h2 a:link, .process-message h2 a:hover, .process-message h2 a:focus, .process-message h2 a:active {
   background-color: transparent;
   color: #333;
   text-decoration: none;
   font-size: 90%;
   margin: 0 0 0 10px;
   padding: 0 0 1em 0;
}
.process-message h2 img {
   vertical-align: middle;
   padding-bottom: 0.1em;
}
#menufication-nav, #menufication-nav * {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
.menufication-scroll, .menufication-non-css3-scroll {
   overflow-y: scroll !important;
   padding-bottom: 0 !important;
}
.menufication-display, .menufication-non-css3-display {
   display: block !important;
}
.menufication-add-padding, .menufication-non-css3-add-padding {
   padding-top: 52px;
}
#menufication-page-holder, #menufication-non-css3-page-holder {
   position: relative;
}
#menufication-nav h1, #menufication-non-css3-nav h1, #menufication-nav h2, #menufication-non-css3-nav h2, #menufication-nav h3, #menufication-non-css3-nav h3 {
   margin: 0 !important;
   padding: 0 !important;
}
.menu-toggle {
   display: none;
}
#menufication-top, #menufication-non-css3-top {
   width: 100%;
   position: fixed;
   font-size: 130%;
   top: 0;
   padding-right: 1px;
   left: -1px;
   height: 52px;
   min-height: 50px;
   background: #2f373a;
   box-shadow: 0 1px 4px rgba(0,0,0,0.5);
   -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
   z-index: 10000;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: all 400ms ease;
   -moz-transition: all 400ms ease;
   -o-transition: all 400ms ease;
   transition: all 400ms ease;
}
.menufication-custom-top, .menufication-non-css3-custom-top {
   position: fixed;
   top: 0;
   left: 0;
   padding-right: 1px;
   z-index: 10000;
   min-height: 50px;
   width: 100%;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: all 400ms ease;
   -moz-transition: all 400ms ease;
   -o-transition: all 400ms ease;
   transition: all 400ms ease;
}
#menufication-top p, #menufication-non-css3-top p {
   margin: 0 0 0 37px;
   padding-top: 6px;
   color: #C9C9C9;
   padding-top: 0;
}
#menufication-outer-wrap.menufication-transition-in #menufication-top, #menufication-outer-wrap.menufication-transition-in .menufication-custom-top {
   -webkit-transform: translate3d(270px, 0, 0) !important;
   -moz-transform: translate3d(270px, 0, 0) !important;
   -ms-transform: translate3d(270px, 0, 0) !important;
   -o-transform: translate3d(270px, 0, 0) !important;
   transform: translate3d(270px, 0, 0) !important;
}
#menufication-non-css3-outer-wrap.menufication-non-css3-transition-in #menufication-non-css3-top, #menufication-non-css3-outer-wrap.menufication-non-css3-transition-in .menufication-non-css3-custom-top {
   left: 270px !important;
}
#menufication-top #menufication-header-logo, #menufication-non-css3-top #menufication-non-css3-header-logo {
   max-height: 55%;
   height: 55%;
   margin-top: 10px;
}
#menufication-top #menufication-btn, #menufication-non-css3-top #menufication-non-css3-btn {
   position: absolute;
   margin: 11px 0 0 10px;
   border-radius: 2px;
   height: 50px;
   width: 60px;
   cursor: pointer;
   -webkit-tap-highlight-color: rgba(255,255,255,0);
   tap-highlight-color: rgba(255,255,255,0);
   outline: 0;
}
#menufication-top #menufication-btn:before, #menufication-non-css3-top #menufication-non-css3-btn:before {
   border-bottom: 11px double #C9C9C9;
   border-top: 4px solid #C9C9C9;
   content: "";
   position: absolute;
   height: 3px;
   left: 5px;
   top: 6px;
   width: 23px;
}
#menufication-outer-wrap #menufication-fixed-holder {
   -webkit-transition: all 400ms ease;
   -moz-transition: all 400ms ease;
   -o-transition: all 400ms ease;
   transition: all 400ms ease;
   top: 70px;
   position: fixed;
}
#menufication-outer-wrap.menufication-transition-in #menufication-fixed-holder {
   left: 270px !important;
}
#menufication-outer-wrap {
   width: 100%;
   position: relative;
}
#menufication-inner-wrap {
   width: 100%;
   left: 0 !important;
   position: relative;
   z-index: 2;
   -webkit-transition: -webkit-transform 400ms ease;
   -moz-transition: -moz-transform 400ms ease;
   -o-transition: -o-transform 400ms ease;
   transition: transform 400ms ease;
   -webkit-backface-visibility: hidden;
}
#menufication-outer-wrap.menufication-transition-in #menufication-inner-wrap {
   -webkit-transform: translate3d(270px, 0, 0) scale3d(1, 1, 1);
   -moz-transform: translate3d(270px, 0, 0) scale3d(1, 1, 1);
   -ms-transform: translate3d(270px, 0, 0) scale3d(1, 1, 1);
   -o-transform: translate3d(270px, 0, 0) scale3d(1, 1, 1);
   transform: translate3d(270px, 0, 0) scale3d(1, 1, 1);
}
#menufication-scroll-container {
   position: fixed;
   -webkit-overflow-scrolling: touch;
   overflow-scrolling: touch;
   overflow-y: auto;
   top: 0;
   left: 0;
   height: 100%;
   padding-bottom: 100%;
   width: 270px;
   z-index: 1;
   background-color: #262626;
   padding-top: 0;
   -webkit-transform: translate3d(-100%, 0, 0);
   -moz-transform: translate3d(-100%, 0, 0);
   -ms-transform: translate3d(-100%, 0, 0);
   -o-transform: translate3d(-100%, 0, 0);
   transform: translate3d(-100%, 0, 0);
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-box-shadow: inset -15px 0 15px -8px rgba(0,0,0,0.5);
   -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0,0,0,0.5);
   box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0,0,0,0.5);
   -webkit-transition: -webkit-transform 400ms ease;
   -moz-transition: -moz-transform 400ms ease;
   -o-transition: -o-transform 400ms ease;
   transition: transform 400ms ease;
}
#menufication-outer-wrap.menufication-transition-in #menufication-scroll-container {
   -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
   -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
   -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
   -o-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
   transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
   overflow-y: scroll !important;
   z-index: 1;
}
#menufication-transform-container {
   -webkit-transform: translate3d(90%, 10%, 0) scale3d(0.9, 0.9, 0.9);
   -moz-transform: translate3d(90%, 10%, 0) scale3d(0.9, 0.9, 0.9);
   -ms-transform: translate3d(90%, 10%, 0) scale3d(0.9, 0.9, 0.9);
   -o-transform: translate3d(90%, 10%, 0) scale3d(0.9, 0.9, 0.9);
   transform: translate3d(90%, 10%, 0) scale3d(0.9, 0.9, 0.9);
   -webkit-transition: -webkit-transform 400ms ease;
   -moz-transition: -moz-transform 400ms ease;
   -o-transition: -o-transform 400ms ease;
   transition: transform 400ms ease;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
   position: relative;
   z-index: 2;
   width: 100%;
   top: 0;
}
#menufication-outer-wrap.menufication-transition-in #menufication-transform-container {
   -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
   -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
   -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
   -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
   transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
}
#menufication-nav {
   width: 100%;
   top: 0;
   position: absolute;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   -ms-font-smoothing: antialiased !important;
   -o-font-smoothing: antialiased !important;
   font-smoothing: antialiased !important;
}
#menufication-nav img, #menufication-non-css3-nav img {
   margin-top: 20px;
   margin-bottom: 20px;
   max-width: 80%;
}
#menufication-nav *, #menufication-nav li, #menufication-nav div, #menufication-non-css3-nav *, #menufication-non-css3-nav li, #menufication-non-css3-nav div {
   -webkit-tap-highlight-color: rgba(255,255,255,0);
   tap-highlight-color: rgba(255,255,255,0);
   outline: 0;
}
#menufication-nav.menufication-add-transition {
   -webkit-transition: all 600ms cubic-bezier(0, 0.09, 0, 1);
   -moz-transition: all 600ms cubic-bezier(0, 0.09, 0, 1);
   -ms-transition: all 600ms cubic-bezier(0, 0.09, 0, 1);
   -o-transition: all 600ms cubic-bezier(0, 0.09, 0, 1);
   transition: all 600ms cubic-bezier(0, 0.09, 0, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 0.09, 0, 1);
   -moz-transition-timing-function: cubic-bezier(0, 0.09, 0, 1);
   -ms-transition-timing-function: cubic-bezier(0, 0.09, 0, 1);
   -o-transition-timing-function: cubic-bezier(0, 0.09, 0, 1);
   transition-timing-function: cubic-bezier(0, 0.09, 0, 1);
}
#menufication-nav.menufication-add-transition-scroll {
   -webkit-transition: -webkit-transform 300ms ease-out;
   -moz-transition: -moz-transform 300ms ease-out;
   -o-transition: -o-transform 300ms ease-out;
   transition: transform 300ms ease-out;
}
#menufication-nav ul:first-child, #menufication-nav .menufication-menu-level-0, #menufication-non-css3-nav .menufication-non-css3-menu-level-0 {
   padding-left: 0 !important;
   margin-top: 0;
}
#menufication-nav .menufication-menu-level-0:nth-child(2), #menufication-non-css3-nav .menufication-non-css3-menu-level-0:nth-child(2) {
   margin-top: 30px;
}
#menufication-nav ul, #menufication-non-css3-nav ul, #menufication-nav li, #menufication-non-css3-nav li {
   margin-left: 0;
   padding-left: 15px !important;
   max-width: 100% !important;
}
#menufication-nav li, #menufication-non-css3-nav li {
   width: 100%;
}
#menufication-nav li.menufication-active-class > a, #menufication-non-css3-nav li.menufication-active-class > a {
   color: #00a3e0 !important;
}
#menufication-nav li a:hover {
   background-color: transparent !important;
}
#menufication-nav ul:first-child li, #menufication-non-css3-nav ul:first-child li {
   color: #fff;
}
#menufication-nav li, #menufication-non-css3-nav li {
   padding: 13px 0 13px 15px;
   list-style: none;
   position: relative;
   border-bottom: 1px solid #111;
   border-top: 1px solid #333;
   line-height: 1 !important;
}
#menufication-nav li.menufication-has-child-menu:before, #menufication-non-css3-nav li.menufication-non-css3-has-child-menu:before {
   content: "+";
   color: #fff;
   font-size: 20px;
   font-weight: 700;
   margin-top: -2px;
   float: right;
   margin-right: 10%;
   height: 12px;
}
#menufication-nav li.menufication-child-menu-open:before, #menufication-non-css3-nav li.menufication-non-css3-child-menu-open:before {
   content: "";
   width: 12px;
   border-bottom: 2px solid #fff;
   float: right;
   margin-right: 10.5%;
   height: 10px !important;
}
#menufication-nav .menufication-menu-level-1 li.menufication-has-child-menu:before, #menufication-non-css3-nav .menufication-non-css3-menu-level-1 li.menufication-non-css3-has-child-menu:before {
   margin-top: -3px !important;
}
#menufication-nav .menufication-menu-level-2 li.menufication-has-child-menu:before, #menufication-non-css3-nav .menufication-non-css3-menu-level-2 li.menufication-non-css3-has-child-menu:before {
   margin-top: -4px !important;
}
#menufication-nav .menufication-menu-level-1 li.menufication-child-menu-open:before, #menufication-non-css3-nav .menufication-non-css3-menu-level-1 li.menufication-non-css3-has-child-menu:before {
   height: 9px !important;
}
#menufication-nav .menufication-menu-level-2 li.menufication-has-child-menu:before, #menufication-non-css3-nav .menufication-non-css3-menu-level-2 li.menufication-non-css3-child-menu-open:before {
   height: 8px !important;
}
#menufication-nav li a, #menufication-non-css3-nav li a {
   color: #ccc;
   display: block;
   text-shadow: 0 1px 0 #000;
   text-decoration: none;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   -ms-font-smoothing: antialiased !important;
   -o-font-smoothing: antialiased !important;
   font-smoothing: antialiased !important;
   font: 15px Helvetica, Arial, Georgia !important;
   line-height: 1 !important;
   font-family: Helvetica, Arial, Georgia !important;
   font-weight: 400 !important;
   text-transform: none;
}
#menufication-nav .menufication-child-menu, #menufication-non-css3-nav .menufication-non-css3-child-menu {
   margin-top: 13px;
   border-top: 1px solid #111;
   border-bottom: 1px solid #333;
   padding-left: 0 !important;
   margin-bottom: -15px;
   display: none;
}
#menufication-nav .menufication-child-menu li a, #menufication-nav-non-css3-nav .menufication-non-css3-child-menu li a {
   color: #ccc;
   margin-left: 10px !important;
}
#menufication-nav .menufication-menu-level-2 li a, #menufication-nav-non-css3-nav .menufication-non-css3-menu-level-2 li a {
   margin-left: 20px !important;
}
#menufication-nav .menufication-menu-level-3 li a, #menufication-nav-non-css3-nav .menufication-non-css3-menu-level-3 li a {
   margin-left: 30px !important;
}
#menufication-non-css3-outer-wrap {
   position: relative;
   width: 100%;
}
#menufication-non-css3-inner-wrap {
   position: relative;
   width: 100%;
   left: 0;
   -webkit-transition: left 400ms ease;
   -moz-transition: left 400ms ease;
   -o-transition: left 400ms ease;
   transition: left 400ms ease;
}
#menufication-non-css3-outer-wrap.menufication-non-css3-transition-in #menufication-non-css3-inner-wrap {
   left: 270px !important;
}
#menufication-non-css3-scroll-container {
   position: fixed;
   top: 0;
   min-height: 200%;
   width: 270px;
   background-color: #262626;
   padding-top: 0;
   left: -100%;
   -webkit-transition: left 400ms ease;
   -moz-transition: left 400ms ease;
   -o-transition: left 400ms ease;
   transition: left 400ms ease;
}
#menufication-non-css3-transform-container {
   width: 100%;
   top: 0;
   position: absolute;
}
#menufication-non-css3-nav {
   width: 100%;
   top: 0;
   position: absolute;
}
#menufication-non-css3-nav * {
   -webkit-tap-highlight-color: rgba(255,255,255,0);
   tap-highlight-color: rgba(255,255,255,0);
   outline: 0;
}
#menufication-non-css3-outer-wrap.menufication-non-css3-transition-in #menufication-non-css3-scroll-container {
   overflow-y: scroll !important;
   overflow: scroll;
   z-index: 200;
   left: 0 !important;
}
#menufication-non-css3-nav ul:first-child {
   padding-left: 0 !important;
   margin-top: 0;
   padding-top: 0;
}
#menufication-outer-wrap.right-direction.menufication-transition-in #menufication-top, #menufication-outer-wrap.right-direction.menufication-transition-in .menufication-custom-top {
   -webkit-transform: translate3d(-270px, 0, 0) !important;
   -moz-transform: translate3d(-270px, 0, 0) !important;
   -ms-transform: translate3d(-270px, 0, 0) !important;
   -o-transform: translate3d(-270px, 0, 0) !important;
   transform: translate3d(-270px, 0, 0) !important;
}
#menufication-outer-wrap.right-direction #menufication-top #menufication-btn {
   position: absolute;
   right: -5px;
   top: 12px;
   margin: 0;
   border-radius: 2px;
   height: 50px;
   width: 60px;
   cursor: pointer;
}
#menufication-outer-wrap.right-direction.menufication-transition-in #menufication-fixed-holder {
   right: 270px !important;
}
#menufication-outer-wrap.right-direction #menufication-inner-wrap {
   right: 0 !important;
}
#menufication-outer-wrap.right-direction.menufication-transition-in #menufication-inner-wrap {
   -webkit-transform: translate3d(-270px, 0, 0) scale3d(1, 1, 1);
   -moz-transform: translate3d(-270px, 0, 0) scale3d(1, 1, 1);
   -ms-transform: translate3d(-270px, 0, 0) scale3d(1, 1, 1);
   -o-transform: translate3d(-270px, 0, 0) scale3d(1, 1, 1);
   transform: translate3d(-270px, 0, 0) scale3d(1, 1, 1);
}
#menufication-outer-wrap.right-direction #menufication-scroll-container {
   right: 0 !important;
   left: auto !important;
   -webkit-transform: translate3d(270px, 0, 0);
   -moz-transform: translate3d(270px, 0, 0);
   -ms-transform: translate3d(270px, 0, 0);
   -o-transform: translate3d(270px, 0, 0);
   transform: translate3d(270px, 0, 0);
   -webkit-box-shadow: inset -5px 0 5px 8px rgba(0,0,0,0.5);
   -moz-box-shadow: inset -1.5em 0 1.5em 0.75em rgba(0,0,0,0.5);
   box-shadow: inset -1.5em 0 1.5em 0.75em rgba(0,0,0,0.5);
}
#menufication-outer-wrap.right-direction.menufication-transition-in #menufication-scroll-container {
   -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
   -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
   -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
   -o-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
   transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}
#menufication-outer-wrap.right-direction #menufication-transform-container {
   -webkit-transform: translate3d(10%, 10%, 0) scale3d(0.9, 0.9, 0.9);
   -moz-transform: translate3d(10%, 10%, 0) scale3d(0.9, 0.9, 0.9);
   -ms-transform: translate3d(10%, 10%, 0) scale3d(0.9, 0.9, 0.9);
   -o-transform: translate3d(10%, 10%, 0) scale3d(0.9, 0.9, 0.9);
   transform: translate3d(10%, 10%, 0) scale3d(0.9, 0.9, 0.9);
}
#menufication-outer-wrap.right-direction.menufication-transition-in #menufication-transform-container {
   -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
   -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
   -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
   -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
   transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
}
#menufication-non-css3-outer-wrap.right-direction #menufication-non-css3-top {
   -webkit-transition: right 400ms ease;
   -moz-transition: right 400ms ease;
   -o-transition: right 400ms ease;
   transition: right 400ms ease;
}
#menufication-non-css3-outer-wrap.right-direction #menufication-non-css3-top #menufication-non-css3-btn {
   position: absolute;
   right: -5px;
   top: 12px;
   margin: 0;
   border-radius: 2px;
   height: 50px;
   width: 60px;
   cursor: pointer;
}
#menufication-non-css3-outer-wrap.right-direction.menufication-non-css3-transition-in #menufication-non-css3-top {
   right: 270px !important;
   left: auto !important;
}
#menufication-non-css3-outer-wrap.right-direction #menufication-non-css3-inner-wrap {
   position: relative;
   width: 100%;
   right: 0 !important;
   left: auto !important;
   -webkit-transition: right 400ms ease;
   -moz-transition: right 400ms ease;
   -o-transition: right 400ms ease;
   transition: right 400ms ease;
}
#menufication-non-css3-outer-wrap.right-direction.menufication-non-css3-transition-in #menufication-non-css3-inner-wrap {
   right: 270px !important;
   left: auto !important;
}
#menufication-non-css3-outer-wrap.right-direction #menufication-non-css3-scroll-container {
   right: -100%;
   left: auto !important;
   -webkit-transition: right 400ms ease;
   -moz-transition: right 400ms ease;
   -o-transition: right 400ms ease;
   transition: right 400ms ease;
}
#menufication-non-css3-outer-wrap.right-direction.menufication-non-css3-transition-in #menufication-non-css3-scroll-container {
   right: 0 !important;
   left: auto !important;
}
#menufication-outer-wrap.light #menufication-nav a, #menufication-outer-wrap.light #menufication-nav p, #menufication-outer-wrap.light #menufication-non-css3-nav a, #menufication-outer-wrap.light #menufication-non-css3-nav p, #menufication-non-css3-outer-wrap.light #menufication-nav a, #menufication-non-css3-outer-wrap.light #menufication-nav p, #menufication-non-css3-outer-wrap.light #menufication-non-css3-nav a, #menufication-non-css3-outer-wrap.light #menufication-non-css3-nav p {
   color: #5A5A5A;
   font-weight: 500 !important;
   text-shadow: none;
   font-size: 18px !important;
   font-size: 16px !important;
}
#menufication-outer-wrap.light li, #menufication-non-css3-outer-wrap.light li {
   border-top: 1px solid #FFF;
   border-bottom: 1px solid #E8E7E7;
}
#menufication-outer-wrap.light #menufication-top, #menufication-outer-wrap.light #menufication-non-css3-top, #menufication-non-css3-outer-wrap.light #menufication-top, #menufication-non-css3-outer-wrap.light #menufication-non-css3-top {
   background: #fff;
   background: -moz-linear-gradient(top, #fff 0, #f7f7f7 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f7f7f7));
   background: -webkit-linear-gradient(top, #fff 0, #f7f7f7 100%);
   background: -o-linear-gradient(top, #fff 0, #f7f7f7 100%);
   background: -ms-linear-gradient(top, #fff 0, #f7f7f7 100%);
   background: linear-gradient(to bottom, #fff 0, #f7f7f7 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',  endColorstr='#f7f7f7',  GradientType=0);
}
#menufication-outer-wrap.light #menufication-top #menufication-btn:before, #menufication-outer-wrap.light #menufication-non-css3-top #menufication-non-css3-btn:before, #menufication-non-css3-outer-wrap.light #menufication-top #menufication-btn:before, #menufication-non-css3-outer-wrap.light #menufication-non-css3-top #menufication-non-css3-btn:before {
   border-color: #303335 !important;
}
#menufication-outer-wrap.light #menufication-scroll-container, #menufication-outer-wrap.light #menufication-non-css3-scroll-container, #menufication-non-css3-outer-wrap.light #menufication-scroll-container, #menufication-non-css3-outer-wrap.light #menufication-non-css3-scroll-container {
   background: #FAFAFA;
   -webkit-box-shadow: inset -5px 0 10px -8px rgba(0,0,0,0.4);
   -moz-box-shadow: inset -5px 0 10px -8px rgba(0,0,0,0.4);
   box-shadow: inset -5px 0 10px -8px rgba(0,0,0,0.4);
}
#menufication-outer-wrap.light .menufication-menu-level-0 li:first-child, #menufication-outer-wrap.light .menufication-non-css-3-menu-level-0 li:first-child, #menufication-non-css3-outer-wrap.light .menufication-menu-level-0 li:first-child, #menufication-non-css3-outer-wrap.light .menufication-non-css-3-menu-level-0 li:first-child {
   border-top: 0 !important;
}
#menufication-outer-wrap.light .menufication-child-menu, #menufication-outer-wrap.light .menufication-non-css3-child-menu, #menufication-non-css3-outer-wrap.light .menufication-child-menu, #menufication-non-css3-outer-wrap.light .menufication-non-css3-child-menu {
   border-top: 1px solid #E8E7E7;
}
#menufication-outer-wrap.light #menufication-nav li.menufication-has-child-menu:before, #menufication-outer-wrap.light #menufication-non-css3-nav li.menufication-non-css3-has-child-menu:before, #menufication-non-css3-outer-wrap.light #menufication-nav li.menufication-has-child-menu:before, #menufication-non-css3-outer-wrap.light #menufication-non-css3-nav li.menufication-non-css3-has-child-menu:before {
   color: #5A5A5A;
}
#menufication-outer-wrap.light #menufication-nav li.menufication-child-menu-open:before, #menufication-outer-wrap.light #menufication-non-css3-nav li.menufication-non-css3-child-menu-open:before, #menufication-non-css3-outer-wrap.light #menufication-nav li.menufication-child-menu-open:before, #menufication-non-css3-outer-wrap.light #menufication-non-css3-nav li.menufication-non-css3-child-menu-open:before {
   border-bottom: 2px solid #5A5A5A;
}
#menufication-outer-wrap.light .help-block li, #menufication-non-css3-outer-wrap.light .help-block li, #menufication-outer-wrap.light .feature-container li, #menufication-non-css3-outer-wrap.light .feature-container li, #menufication-outer-wrap.light .share-links li, #menufication-non-css3-outer-wrap.light .share-links li {
   border: 0;
}
.container-navigation {
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
   -ms-transition: all 0.3s linear;
   -o-transition: all 0.3s linear;
   transition: all 0.3s linear;
   background: #2f373a url(../images/feature-plum.png) no-repeat 100% 0;
   clear: both;
   height: 80px;
   padding-top: 10px;
   position: relative;
   width: 100%;
}
.container-navigation-fixed {
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
   -ms-transition: all 0.3s linear;
   -o-transition: all 0.3s linear;
   transition: all 0.3s linear;
   background-color: #2e3639;
   background-color: rgba(46,54,57,0.9);
   border-top: 0;
   height: 47px;
   position: fixed;
   top: 0;
   z-index: 10000;
}
.container-navigation-fixed li a {
   padding-top: 0.25em !important;
   padding-bottom: 0.25em !important;
}
#menufication-nav .menufication-child-menu, #menufication-non-css3-nav .menufication-non-css3-child-menu {
   display: none;
}
.container-global-links {
   background-color: #fbf5f2;
   width: 100%;
}
ul.global-links {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0.4em 3%;
}
ul.global-links li {
   display: inline-block;
   border: none !important;
   padding-left: 0.5em;
}
ul.global-links li a {
   color: #666;
   display: block;
   font-size: 90%;
   text-decoration: none;
}
ul.global-links li a:hover, ul.global-links li a:focus, ul.global-links li a:active {
   background-color: transparent;
   color: black;
   text-decoration: underline;
}
.main-navigation {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 3%;
}
.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
   display: none;
}
.main-navigation ul.nav-menu.toggled-on, .menu-toggle {
   display: inline-block;
}
.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
   border-bottom: 1px solid #ededed;
   border-top: 1px solid #ededed;
   display: inline-block !important;
   text-align: left;
   width: 100%;
}
.main-navigation ul {
   margin: 0 0 1em 0;
   text-indent: 0;
   padding: 0.4em 0 0.5em 0;
   position: relative;
}
.main-navigation li {
   border: none !important;
}
.main-navigation li a, .main-navigation li {
   -webkit-border-radius: 6px;
   border-radius: 6px;
   display: inline-block;
   font-weight: bold;
   text-decoration: none;
}
.main-navigation li a {
   color: white;
   white-space: nowrap;
   padding: 0.8em 0.6em 1em 0.6em;
}
@media only screen and (min-width: 1024px) {
   .main-navigation li a {
      padding: 0.9em 0.9em 1em 0.9em;
   }
}
@media only screen and (min-width: 1200px) {
   .main-navigation li a {
      padding: 0.9em 1.2em 1em 1.2em;
   }
}
@media only screen and (min-width: 1400px) {
   .main-navigation li a {
      padding: 0.9em 1.6em 1em 1.6em;
   }
}
.main-navigation li:hover > a, .main-navigation li:focus > a, .main-navigation li:active > a {
   background-color: #62686b;
   color: white;
}
.main-navigation li a:hover, .main-navigation li a:focus, .main-navigation li a:active {
   background-color: #62686b;
   color: white;
}
.main-navigation .nav-icon-down, .main-navigation .nav-icon-right {
   display: -moz-inline-stack;
   display: inline-block;
   zoom: 1;
   background: url(../images/sprite-bullets-down.png) 99% -85px no-repeat;
}
.main-navigation .nav-icon-down {
   padding-right: 1.2em;
}
.main-navigation .nav-icon-right {
   background: #62686b url(../images/sprite-bullets.png) 98% -87px no-repeat;
}
.main-navigation li {
   position: relative;
}
.main-navigation li.nav-home a {
   background: transparent url(../images/sprite-header.png) no-repeat -63px 7px;
   text-indent: -9999px;
   height: 25px;
   width: 35px;
   padding: 15px 5px 11px 5px;
   margin: 0;
   -webkit-transition: none;
   -moz-transition: none;
   -ms-transition: none;
   -o-transition: none;
   transition: none;
}
.container-navigation-fixed a.nav-icon-down {
   background: url(../images/sprite-bullets-down.png) 99% -93px no-repeat !important;
}
li.nav-home a:hover, li.nav-home a:focus, li.nav-home a:active {
   background: #62686b url(../images/sprite-header.png) no-repeat -63px -62px;
}
.container-navigation-fixed li.nav-home a {
   background: transparent url(../images/sprite-header.png) no-repeat -63px -2px;
}
.container-navigation-fixed li.nav-home a:hover, .container-navigation-fixed li.nav-home a:focus, .container-navigation-fixed li.nav-home a:active {
   background: #62686b url(../images/sprite-header.png) no-repeat -63px -71px;
}
.main-navigation li ul {
   display: none;
   margin: 0;
   padding: 0.5em 0 0 0;
   position: absolute;
   top: 100%;
   z-index: 1;
}
.main-navigation li ul ul {
   top: 0;
   left: 100%;
}
.main-navigation ul li:hover > ul {
   border-left: 0;
   display: block;
}
.main-navigation li ul li a {
   background: #62686b;
   border-bottom: 1px solid #a7a7a7;
   border-radius: 0;
   color: white;
   font-weight: normal;
   display: block;
   line-height: 2.181818182;
   padding: 0.4em 1.5em;
   width: 250px;
   white-space: normal;
}
.main-navigation li ul li a:hover, .main-navigation li ul li a:focus, .main-navigation li ul li a:active {
   background-color: #2e3639;
}
.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a, .main-navigation .current_page_item > a, .main-navigation .current_page_ancestor > a {
   color: #636363;
   font-weight: bold;
}
#breadcrumbs {
   background: none;
   border: none;
   color: #666;
   font-size: 90%;
   clear: both;
   margin: 3em 0 0.5em 0;
   padding: 0;
}
#breadcrumbs a {
   color: #666;
   text-decoration: underline;
}
#breadcrumbs a:hover, #breadcrumbs a:focus, #breadcrumbs a:active {
   background-color: #069;
   outline: none;
   color: white;
   text-decoration: none;
}
.breadcrumbs-separator {
   font-size: 8px;
   line-height: 1;
   background: transparent url("../images/bg-breadcrumb.png") no-repeat 0 -2px;
   padding: 8px 8px 8px 20px;
}
ul.contextual-nav {
   text-align: left;
   margin: 1em 0 2em 0;
   border-bottom: 1px solid #333;
   list-style-type: none;
   padding: 0 1.75em 0.75em 0;
}
ul.contextual-nav li {
   border-bottom: none !important;
   padding: 0;
}
ul.contextual-nav li a {
   background-color: #dedfde;
   padding: 0.7em 0.75em 0.65em 0.75em;
   -webkit-border-radius: 3px 3px 0 0;
   border-radius: 3px 3px 0 0;
   color: #069;
   text-decoration: none;
   font-size: 115%;
   display: block;
   width: 100%;
}
@media only screen and (min-width: 660px) {
   ul.contextual-nav {
      padding: 0 0 0.75em 0;
   }
   ul.contextual-nav li a {
      display: inline;
      width: auto;
   }
   ul.contextual-nav li {
      display: inline;
   }
}
ul.contextual-nav li a:hover, ul.contextual-nav li a:focus, ul.contextual-nav li a:active {
   background-color: #f90;
   color: black;
}
ul.contextual-nav li.selected a {
   background-color: #5a595a;
   color: white;
}
ul.contextual-nav li.selected a:hover, ul.contextual-nav li.selected a:focus, ul.contextual-nav li.selected a:active {
   background-color: #5a595a;
}
.content-page-nav {
   border-top: 0.5em solid #0265a6;
   margin-bottom: 2em;
   clear: both;
   margin-top: 1.5em;
}
.content-page-nav ul {
   margin: 1.25em 0 0 0;
   padding-left: 0;
}
.content-page-nav ul ul {
   margin: 0.5em 0 0 2em;
}
.content-page-nav li {
   background: none !important;
   list-style-type: none;
   padding: 0.3em 0 0.45em 0 !important;
   border: none !important;
}
.content-page-nav li a {
   display: block;
}
.content-page-nav li li a {
   background: transparent url(../images/sprite-bullets.png) no-repeat 0 1px;
   padding-left: 18px;
}
.content-page-nav li a:hover, .content-page-nav li a:focus, .content-page-nav li a:active {
   background-color: #006699;
   color: white;
   text-decoration: none;
}
.content-page-nav li strong {
   font-size: 120%;
   padding: 0.3em 0 1em 0;
}
.content-page-nav li.content-page-nav-selected {
   background: transparent url(../images/sprite-bullets.png) no-repeat 0 -221px !important;
   padding-left: 18px !important;
   font-weight: bold;
}
@media only screen and (min-width: 860px) {
   body.content .content-page-nav {
      float: left;
      width: 30%;
   }
   body.content .content-main {
      float: right;
      margin-bottom: 2em;
      width: 65%;
   }
   body.content .content-main h1 {
      margin-top: 0.5em;
   }
}
.help-block {
   margin: 1.5em 0;
}
.help-block h3 {
   background: url(../images/bg-help.png) no-repeat 0 0;
   padding: 0.1em 0 0 1.75em;
   min-height: 25px;
   margin-bottom: 0.5em;
}
.help-block p, .help-block ul {
   margin: 0.5em 0;
}
.help-block li {
   padding: 0.25em 0;
}
#content li.pdf, .zip, .xls, .txt {
   background: transparent url(../images/ico-pdf.png) no-repeat 0 8px;
   padding-left: 22px !important;
   list-style-type: none;
   margin-left: -22px;
}
.zip {
   background: transparent url(../images/ico-zip.png) no-repeat 0 8px;
}
.xls {
   background: transparent url(../images/ico-xls.png) no-repeat 0 8px;
}
.txt {
   background: transparent url(../images/ico-txt.png) no-repeat 0 8px;
}
ul.utilities {
   margin: 0.75em 0 0 0;
   padding: 0 0 0.5em 0;
}
.no-nav {
   float: none !important;
}
@media only screen and (min-width: 660px) {
   ul.utilities {
      float: right;
      margin: 0 0 0 0;
   }
   .no-nav {
      text-align: right;
   }
}
ul.utilities li {
   border: none !important;
   background: none;
   display: inline-block;
   list-style-type: none;
   margin: 0 0.5em 0 0;
   padding: 0;
}
ul.utilities li a {
   color: #666;
   font-size: 90%;
   height: 30px;
   padding: 0.25em 0 0.25em 27px;
   margin: 0 0 0.5em 0;
   text-decoration: none;
}
ul.utilities li a:hover, ul.utilities li a:focus, ul.utilities li a:active {
   color: black;
   text-decoration: underline;
}
ul.utilities li.file a {
   background: transparent url(../images/sprite-utilities.png) no-repeat 0 1px;
}
ul.utilities li.file a:hover, ul.utilities li.file a:focus, ul.utilities li.file a:active {
   background: transparent url(../images/sprite-utilities.png) no-repeat -154px 1px;
}
ul.utilities li.pdf a {
   background: transparent url(../images/sprite-utilities.png) no-repeat 0 -50px;
}
ul.utilities li.pdf a:hover, ul.utilities li.pdf a:focus, ul.utilities li.pdf a:active {
   background: transparent url(../images/sprite-utilities.png) no-repeat -155px -50px;
}
ul.utilities li.print a {
   background: transparent url(../images/sprite-utilities.png) no-repeat 0 -100px;
}
ul.utilities li.print a:hover, ul.utilities li.print a:focus, ul.utilities li.print a:active {
   background: transparent url(../images/sprite-utilities.png) no-repeat -154px -100px;
}
ul.utilities li.email a {
   background: transparent url(../images/sprite-utilities.png) no-repeat 0 -149px;
}
ul.utilities li.email a:hover, ul.utilities li.email a:focus, ul.utilities li.email a:active {
   background: transparent url(../images/sprite-utilities.png) no-repeat -154px -149px;
}
.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}
.clearfix:after {
   clear: both;
}
.clearfix {
   zoom: 1;
}
.external {
   float: none;
   margin-left: 0.25em;
}
.float-right {
   float: right;
   margin-left: 1.5em;
}
p.more a {
   background: transparent url(../images/sprite-bullets.png) no-repeat 100% 0;
   margin: 0;
   padding: 0 15px 0 0;
   float: right;
   text-transform: uppercase;
}
.more a:hover, .more a:focus, .more a:active {
   background: #ffc url(../images/sprite-bullets.png) no-repeat 100% -51px;
}
.tip h2 {
   background: url(../images/ico-tip.png) no-repeat 0 0;
   font-size: 130%;
   min-height: 34px;
   margin: 1.5em 0 1em 0;
   padding-bottom: 0.25em;
}
.tip p, .tip ul, .tip h2, .tip h3 {
   padding-left: 35px;
}
.tip h2 {
   padding-top: 0.2em;
}
span.toggle {
   display: block;
   float: left;
   cursor: pointer;
   width: 24px;
   height: 24px;
   margin: 0 0.5em 0 0;
}
.open {
   background: url(../images/sprite-expand-collapse.png) no-repeat 0 0;
}
.close {
   background: url(../images/sprite-expand-collapse.png) no-repeat 0 -76px;
}
.offscreen {
   position: absolute;
   left: -9999px;
   top: 0;
}
.not-displayed {
   display: none;
}
.help a {
   background: url(../images/sprite-help.png) no-repeat 0 0;
   float: right;
   height: 24px;
   font-size: 80%;
   font-family: DroidSansRegular, helvetica, arial, sans-serif;
   padding: 0 0.75em 0 28px;
   color: #5a595a;
   text-decoration: none;
}
.help a:hover, .help a:focus, .help a:active {
   background: url(../images/sprite-help.png) no-repeat 0 -76px;
   color: #333;
}
h1 .help a {
   background: url(../images/sprite-help.png) no-repeat 0 10px;
   font-size: 40%;
   font-weight: normal;
   padding: 1em 0.75em 0 30px;
}
h1 .help a:hover, h1 .help a:focus, h1 .help a:active {
   background: url(../images/sprite-help.png) no-repeat 0 -66px;
}
.search-pagination ul {
   margin: 0;
   padding: 1em 0 0 0;
}
.search-pagination li {
   display: inline-block;
   margin: 0 0.25em 2.25em 0;
   list-style-type: none;
}
.search-pagination li a {
   background-color: #dddddd;
   color: #069;
   -webkit-border-radius: 3px;
   border: 1px solid #dddddd;
   border-radius: 3px;
   padding: 1em 1.25em;
   text-decoration: none;
}
.search-pagination li a:hover, .search-pagination li a:active, .search-pagination li a:focus {
   background-color: #62686b;
   border: 1px solid #62686b;
   color: white;
}
.search-pagination li.pagination-active a {
   background-color: white;
   border: 1px solid #dddddd;
   color: #666;
}
.top {
   background: url(../images/ico-top.png) no-repeat 0 0.45em;
   padding: 0 0 0 1em;
}
.previous-name {
   font-style: italic;
}
#header {
   margin: 1em 0;
   min-height: 30px;
}
#header-left {
   float: left;
}
body.home #header-left {
   width: 100%;
}
#header img.logo-gov {
   display: none;
}
#header img.logo-abln {
   padding-bottom: 1em;
}
#header a:hover, #header a:focus, #header a:active {
   background-color: #fffe9b;
   display: inline-block;
}
#header span {
   margin: 0 0.15em;
}
@media only screen and (min-width: 480px) {
   #header {
      min-height: 45px;
   }
   #header img.logo-gov {
      display: block;
      float: left;
      border-right: 1px solid #999;
      margin-right: 1em;
      padding-right: 1em;
   }
}
.search {
   margin: 1em 0 0 0;
}
.search select {
   display: none;
}
.search input[type=text] {
   -webkit-border-radius: 6px;
   border-radius: 6px;
   display: inline;
   font-size: 130%;
   width: 70%;
   margin-top: 0.25em;
   padding: 0.75em 0.3em;
   vertical-align: middle;
}
@media only screen and (min-width: 480px) {
   .search input[type=text] {
      font-size: 160%;
      padding: 0.5em 0.3em;
      width: 75%;
   }
}
@media only screen and (min-width: 560px) {
   .search input[type=text] {
      width: 80%;
   }
}
@media only screen and (min-width: 1024px) {
   .search {
      text-align: right;
   }
   #header {
      margin: 1.5em 0 1em 0;
   }
   #header-right {
      float: right;
      text-align: right;
      margin: 0;
   }
   .search input[type=text] {
      width: 10em;
   }
}
@media only screen and (min-width: 1200px) {
   .search input[type=text] {
      width: 14em;
   }
}
.search label {
   position: absolute;
   left: -9999px;
}
.search input[type="submit"] {
   background: #fc0 url(../images/sprite-search-small.png) no-repeat 50% 50%;
   text-indent: -9999px;
   height: 53px;
   width: 53px;
   padding: 0;
   border: 0 !important;
   box-shadow: none !important;
   margin: 0 0 0 0.5em;
}
.search input[type="submit"]:hover, .search input[type="submit"]:focus, .search input[type="submit"]:active {
   background: #f90 url(../images/sprite-search-small.png) no-repeat 50% 50%;
   -webkit-transition: background-color 0.2s ease-in-out;
   -moz-transition: background-color 0.2s ease-in-out;
   -ms-transition: background-color 0.2s ease-in-out;
   -o-transition: background-color 0.2s ease-in-out;
   transition: background-color 0.2s ease-in-out;
}
@media only screen and (min-width: 757px) {
   .search select {
      display: inline;
   }
}
@media only screen and (min-width: 1024px) {
   .search {
      float: none;
   }
}
#header-right.search input[type="submit"] {
   background: #fc0 url(../images/sprite-search-small.png) no-repeat 50% 50%;
   height: 59px;
   width: 59px;
   line-height: 1.6;
   vertical-align: bottom;
   margin: 0 0 0 0.5em;
}
#header-right.search input[type="submit"]:hover, #header-right.search input[type="submit"]:focus, #header-right.search input[type="submit"]:active {
   background: #f90 url(../images/sprite-search-small.png) no-repeat 50% 50%;
}
.container-all {
   margin: 0 auto;
   max-width: 1400px;
   padding: 0 3%;
}
.container-content {
   clear: both;
   margin: 1.5em 0 1em 0;
}
body.home .container-content {
   margin: 3em 0 3em 0;
}
.content-intro {
   background-color: #efeae4;
   -webkit-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
   padding: 0.5em 1em;
   margin-bottom: 1em;
   font-size: 100%;
}
#content ul li {
   padding: 0.25em 0;
}
#content ul ul {
   margin: 0.25em;
}
#content ul ul li {
   padding: 0.15em 0;
}
.content-search label {
   font-size: 130%;
   letter-spacing: -1px;
}
.content-search input[type=text] {
   -webkit-border-radius: 4px;
   border-radius: 4px;
   font-size: 120%;
   margin: 0.5em 0 0.25em 0;
   padding: 0.5em 0.25em;
   width: 70%;
}
@media only screen and (min-width: 480px) {
   .content-intro {
      font-size: 110%;
   }
   .content-search label {
      font-size: 150%;
   }
   .content-search input[type=text] {
      width: 80%;
   }
}
@media only screen and (min-width: 1400px) {
   .content-search input[type=text] {
      width: 80%;
   }
}
@media only screen and (min-width: 660px) {
   .content-intro {
      -webkit-border-radius: 6px 6px 0 0;
      border-radius: 6px 6px 0 0;
      font-size: 130%;
      margin-bottom: 1em;
   }
   .content-search label {
      font-size: 190%;
   }
   .content-search input[type=text] {
      -webkit-border-radius: 8px;
      border-radius: 8px;
      font-size: 180%;
      padding: 0.65em 0.5em;
   }
}
@media only screen and (min-width: 757px) {
   .content-search input[type=text] {
      width: 70%;
   }
   .content-intro {
      float: left;
      width: 30%;
      margin-bottom: 2em;
   }
   .content-search {
      float: right;
      width: 60%;
   }
   .content-search input[type=text] {
      -webkit-border-radius: 8px;
      border-radius: 8px;
      font-size: 180%;
      padding: 0.65em 0.5em;
   }
}
.disclaimer h3 {
   color: #666;
   font-size: 120%;
   letter-spacing: -1px;
   margin-top: 4em;
}
.disclaimer p {
   color: #666;
   font-size: 90%;
}
.search-result {
   margin: 0 0 2em 0;
}
.search-result h4 {
   font-size: 110%;
   font-weight: normal;
   margin-bottom: 0;
}
.search-result .description {
   color: #62686b;
   font-size: 90%;
   padding: 0;
   margin: 0.25em 0 1em 0;
   max-width: 900px;
}
.search-result .description strong {
   font-weight: bold;
   color: #333;
}
h1 span.version {
   background-color: #ddd;
   border-radius: 4px;
   border: 1px dashed white;
   font-family: DroidSansRegular,helvetica,arial,sans-serif;
   font-weight: normal;
   font-size: 40%;
   float: right;
   padding: 0.5em;
}


.footer, .push {
height: 4em;
}

.footer {
	position: relative;
	width: 700px;
	margin: 0 auto;
	background: url(images/footer.jpg) no-repeat;
}
.footer a {
	color: #0060b9;
}
.footer p {
	padding: 95px 0 0;
	font: 1em helvetica,arial,sans-serif;
	text-align: center;
}
.footer p.copyright {
	padding: 1em 0 0;
	font-size: 0.8em;
}

.footer-nav {
   clear: both;
   padding-bottom: 10px;
   width: 100%;
}
.footer-nav ul {
   background: #434341;
   margin: 0;
   padding: 1em 3%;
}
.footer-nav li {
   border: none !important;
   color: #999;
   list-style-type: disc;
   margin: 0 0 0 1em;
}
@media only screen and (min-width: 560px) {
   .footer-nav li {
      display: inline-block;
      list-style-type: none;
      margin: 0 0 0 0;
   }
}
.footer-nav li a {
   color: #ccc;
   display: block;
   white-space: nowrap;
   padding: 0.5em 2em 0.5em 0;
   text-decoration: none;
}
.footer-nav li:first-child a {
   padding-left: 0;
}
.footer-nav li a:hover, .footer-nav li a:focus, .footer-nav li a:active {
   background-color: transparent;
   color: white;
   text-decoration: underline;
}
ul.footer-dates {
   margin: 0 0 4em 0;
   padding: 0;
}
ul.footer-dates li {
   border: none !important;
   list-style-type: none;
   color: #434341;
}
@media only screen and (min-width: 560px) {
   ul.footer-dates li {
      float: left;
   }
   ul.footer-dates li:last-of-type {
      float: right;
   }
}